<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./assets/css/card.css" rel="stylesheet" />
    <script src="./assets/js/card.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <!-- DISEC -->
        <div class="col-md-4 col-sm-6">
          <div class="card-container">
            <div class="card">
              <div class="front">
                <div class="cover">
                  <img  src="./assets/img/posters/DISEC-01.png" />
                </div>
                <div class="user">
                  <img
                    class="img-circle"
                    src="./assets/img/logo/committees/DISEC_LOGO.png"
                  />
                </div>

                <div class="content">
                  <div class="main">
                    <h3 class="name">
                      Disarmament and International Security Committee
                    </h3>
                  </div>
                </div>
              </div>
              <!-- end front panel -->
              <div class="back">
                <div class="content">
                  <div class="main">
                    <h4
                      style="
                        font-size: larger;
                        font-weight: revert;
                        font-family: sans-serif;
                        padding-bottom: 51px;
                        padding-top: 40px;
                      "
                      class="text-center"
                    >
                      United Nations General Assembly<br />
                      Disarmament and International Security Committee
                    </h4>
                    <div
                      class="stats-container"
                      style="margin-left: 17%; margin-top: -5% !important"
                    >
                      <div class="stats">
                        <h4>Beginner</h4>
                        <p>Level</p>
                      </div>
                      <div class="stats">
                        <h4>Single</h4>
                        <p>Delegate</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row text-center mx-auto">
                  <div class="col">
                    <button
                      class="btn btn-light text-white"
                      style="
                        background-color: #bab86c;
                        width: 8em;
                        font-family: 'Poppins';
                      "
                    >
                      EB Members
                    </button>
                    <button
                      class="btn btn-light text-white"
                      style="
                        background-color: #bab86c;
                        width: 8em;
                        font-family: 'Poppins';
                      "
                    >
                      Agendas
                    </button>
                  </div>
                </div>
              </div>
              <!-- end back panel -->
            </div>
            <!-- end card -->
          </div>
          <!-- end card-container -->
        </div>
        <!-- end col sm 3 -->

        <!-- EB Modal -->
        <div id="DISEC_E" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="modal-adj">
              <!-- <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div> -->
              <div class="modal-body">
                <img
                  id="modalimg"
                  src="./assets/img/EB/MUN EB DISEC 1-01.jpg"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Agenda Modal -->
        <div id="DISEC_agend" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="modal-adj">
              <!-- <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div> -->
              <div class="modal-body">
                <img id="modalagendaimg" src="./assets/img/agendas/DISEC.jpg" />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- UNHRC -->
        <div class="col-md-4 col-sm-6">
          <div class="card-container">
            <div class="card">
              <div class="front">
                <div class="cover">
                  <img src="./assets/img/posters/UNHRC-01.jpg" />
                </div>
                <div class="user">
                  <img
                    class="img-circle"
                    src="./assets/img/logo/committees/UNHRC_LOGO.png"
                  />
                </div>

                <div class="content">
                  <div class="main">
                    <h3 class="name">United Nations Human Rights Council</h3>
                  </div>
                </div>
              </div>
              <!-- end front panel -->
              <div class="back">
                <div class="content">
                  <div class="main">
                    <h4
                      style="
                        font-size: larger;
                        font-weight: revert;
                        font-family: sans-serif;
                        padding-bottom: 51px;
                        padding-top: 40px;
                      "
                      class="text-center"
                    >
                      United Nations Human Rights Council
                    </h4>
                    <div
                      class="stats-container"
                      style="margin-left: 17%; margin-top: -5% !important"
                    >
                      <div class="stats">
                        <h4>Beginner</h4>
                        <p>Level</p>
                      </div>
                      <div class="stats">
                        <h4>Double</h4>
                        <p>Delegate</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row text-center mx-auto">
                  <div class="col">
                    <button
                      class="btn btn-light text-white"
                      style="
                        background-color: #bab86c;
                        width: 8em;
                        font-family: 'Poppins';
                      "
                    >
                      EB Members
                    </button>
                    <button
                      class="btn btn-light text-white"
                      style="
                        background-color: #bab86c;
                        width: 8em;
                        font-family: 'Poppins';
                      "
                    >
                      Agendas
                    </button>
                  </div>
                </div>
              </div>
              <!-- end back panel -->
            </div>
            <!-- end card -->
          </div>
          <!-- end card-container -->
        </div>
        <!-- end col sm 3 -->


         <!-- UN WOMEN -->
         <div class="col-md-4 col-sm-6">
            <div class="card-container">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    <img src="./assets/img/posters/UNCSW.png " />
                  </div>
                  <div class="user">
                    <img
                      class="img-circle"
                      src="./assets/img/logo/committees/UNCSW_LOGO.png"
                    />
                  </div>
  
                  <div class="content">
                    <div class="main">
                      <h3 class="name">United Nations Commission on the Status of Women</h3>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h4
                        style="
                          font-size: larger;
                          font-weight: revert;
                          font-family: sans-serif;
                          padding-bottom: 51px;
                          padding-top: 40px;
                        "
                        class="text-center"
                      >
                        United Nations Commission on the Status of Women
                      </h4>
                      <div
                        class="stats-container"
                        style="margin-left: 17%; margin-top: -5% !important"
                      >
                        <div class="stats">
                          <h4 style="font-size: 12px">Intermediate</h4>
                          <p>Level</p>
                        </div>
                        <div class="stats">
                          <h4>Single</h4>
                          <p>Delegate</p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row text-center mx-auto">
                    <div class="col">
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        EB Members
                      </button>
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        Agendas
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
            <!-- end card-container -->
          </div>
          <!-- end col sm 3 -->
          </div>
          <div class="row">
          <!-- WHA -->
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    <img src="./assets/img/posters/WHA.png" />
                  </div>
                  <div class="user">
                    <img
                      class="img-circle"
                      src="./assets/img/logo/committees/wha1.png"
                    />
                  </div>
  
                  <div class="content">
                    <div class="main">
                      <h3 class="name">World Health Association</h3>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h4
                        style="
                          font-size: larger;
                          font-weight: revert;
                          font-family: sans-serif;
                          padding-bottom: 51px;
                          padding-top: 40px;
                        "
                        class="text-center"
                      >
                        &zwnj; &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj; &zwnj;
                        &zwnj; &zwnj; World Health Assembly &zwnj;&zwnj; &zwnj;
                        &zwnj; &zwnj;&zwnj; &zwnj; &zwnj; &zwnj;&zwnj; &zwnj;
                        &zwnj; &zwnj;&zwnj; &zwnj; &zwnj; &zwnj;&zwnj; &zwnj;
                        &zwnj; &zwnj;&zwnj; &zwnj; &zwnj; &zwnj;&zwnj; &zwnj;
                        &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj;&zwnj;
                        &zwnj;&zwnj;&zwnj; &zwnj;
                      </h4>
                      <div
                        class="stats-container"
                        style="margin-left: 17%; margin-top: -5% !important"
                      >
                        <div class="stats">
                          <h4>Beginner</h4>
                          <p>Level</p>
                        </div>
                        <div class="stats">
                          <h4>Double</h4>
                          <p>Delegate</p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row text-center mx-auto">
                    <div class="col">
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        EB Members
                      </button>
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        Agendas
                      </button>
                    </div>
                  </div>
                  <div id="DISEC_EB" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content" id="modal-adj">
                        <!-- <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Modal Header</h4>
                          </div> -->
                        <div class="modal-body">
                          <img
                            id="modalimg"
                            src="./assets/img/EB/MUN EB DISEC 1-01.jpg"
                          />
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Agenda Modal -->
                  <div id="DISEC_agenda" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content" id="modal-adj">
                        <!-- <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Modal Header</h4>
                          </div> -->
                        <div class="modal-body">
                          <img
                            id="modalagendaimg"
                            src="./assets/img/agendas/DISEC.jpg"
                          />
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
            <!-- end card-container -->
          </div>
          <!-- end col sm 3 -->

          <!-- IPCC -->
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    <img src="./assets/img/posters/IPCC.jpg" />
                  </div>
                  <div class="user">
                    <img
                      class="img-circle"
                      src="./assets/img/logo/committees/ipcc-logo.png"
                    />
                  </div>
  
                  <div class="content">
                    <div class="main">
                      <h3 class="name">Intergovernmental Panel on Climate Change</h3>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h4
                        style="
                          font-size: larger;
                          font-weight: revert;
                          font-family: sans-serif;
                          padding-bottom: 51px;
                          padding-top: 40px;
                        "
                        class="text-center"
                      >
                        Intergovernmental Panel on Climate Change
                      </h4>
                      <div
                        class="stats-container"
                        style="margin-left: 17%; margin-top: -5% !important"
                      >
                        <div class="stats">
                          <h4 style="font-size: 12px">Intermediate</h4>
                          <p>Level</p>
                        </div>
                        <div class="stats">
                          <h4 style="font-size: 12px">Double</h4>
                          <p>Delegate</p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row text-center mx-auto">
                    <div class="col">
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        EB Members
                      </button>
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        Agendas
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
            <!-- end card-container -->
          </div>
          <!-- end col sm 3 -->

           <!-- WB -->
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    <img src="./assets/img/posters/WB.jpg" />
                  </div>
                  <div style="width: 184px" class="user">
                    <img
                      class="img-circle"
                      style="height: 115px !important; width: 180px !important"
                      src="./assets/img/logo/committees/WB_LOGO.jpg"
                    />
                  </div>
  
                  <div class="content">
                    <div class="main">
                      <h3 class="name">World Bank</h3>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h4
                        style="
                          font-size: larger;
                          font-weight: revert;
                          font-family: sans-serif;
                          padding-bottom: 51px;
                          padding-top: 40px;
                        "
                        class="text-center"
                      >
                        World Bank
                      </h4>
                      <div
                        class="stats-container"
                        style="margin-left: 17%; margin-top: -5% !important"
                      >
                        <div class="stats">
                          <h4 style="font-size: 12px">Intermediate</h4>
                          <p>Level</p>
                        </div>
                        <div class="stats">
                          <h4 style="font-size: 12px">Double</h4>
                          <p>Delegate</p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row text-center mx-auto">
                    <div class="col">
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        EB Members
                      </button>
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        Agendas
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
            <!-- end card-container -->
          </div>
          <!-- end col sm 3 -->
        </div>
        </div>

        <div class="row">
        <!-- SC -->
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    <img src="./assets/img/posters/SC.jpg" />
                  </div>
                  <div class="user">
                    <img
                      class="img-circle img-fluid  p-3"
                     
                      src="./assets/img/logo/committees/SC_LOGO.png"
                    />
                  </div>
  
                  <div class="content">
                    <div class="main">
                      <h3 class="name">Security Council</h3>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h4
                        style="
                          font-size: larger;
                          font-weight: revert;
                          font-family: sans-serif;
                          padding-bottom: 51px;
                          padding-top: 40px;
                        "
                        class="text-center"
                      >
                        Security Council
                      </h4>
                      <div
                        class="stats-container"
                        style="margin-left: 17%; margin-top: -5% !important"
                      >
                        <div class="stats">
                          <h4 style="font-size: 12px">Advanced</h4>
                          <p>Level</p>
                        </div>
                        <div class="stats">
                          <h4 style="font-size: 12px">Single</h4>
                          <p>Delegate</p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row text-center mx-auto">
                    <div class="col">
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        EB Members
                      </button>
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        Agendas
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
            <!-- end card-container -->
          </div>
          <!-- end col sm 3 -->

          <!-- SPECPOL -->
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    <img src="./assets/img/posters/SPECPOL.jpg" />
                  </div>
                  <div class="user">
                    <img
                      class="img-circle img-fluid p-3"
                      src="./assets/img/logo/committees/specpol_logo.png"
                    />
                  </div>
  
                  <div class="content">
                    <div class="main">
                      <h3 class="name">Special Political and Decolonization Committee</h3>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h4
                        style="
                          font-size: larger;
                          font-weight: revert;
                          font-family: sans-serif;
                          padding-bottom: 51px;
                          padding-top: 40px;
                        "
                        class="text-center"
                      >
                      Special Political and Decolonization Committee
                      </h4>
                      <div
                        class="stats-container"
                        style="margin-left: 17%; margin-top: -5% !important"
                      >
                        <div class="stats">
                          <h4 style="font-size: 12px">Intermediate</h4>
                          <p>Level</p>
                        </div>
                        <div class="stats">
                          <h4 style="font-size: 12px">Single</h4>
                          <p>Delegate</p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row text-center mx-auto">
                    <div class="col">
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        EB Members
                      </button>
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        Agendas
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
            <!-- end card-container -->
          </div>
          <!-- end col sm 3 -->

           <!-- OIC -->
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    <img src="./assets/img/posters/OIC.jpg "/>
                  </div>
                  <div class="user">
                    <img
                      class="img-circle"
                      src="./assets/img/logo/committees/OIC.jpg"
                    />
                  </div>
  
                  <div class="content">
                    <div class="main">
                      <h3 class="name">Organisation of Islamic Cooperation </h3>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h4
                        style="
                          font-size: larger;
                          font-weight: revert;
                          font-family: sans-serif;
                          padding-bottom: 51px;
                          padding-top: 40px;
                        "
                        class="text-center"
                      >
                      Organisation of Islamic Cooperation 
                      </h4>
                      <div
                        class="stats-container"
                        style="margin-left: 17%; margin-top: -5% !important"
                      >
                        <div class="stats">
                          <h4 style="font-size: 12px">Advanced</h4>
                          <p>Level</p>
                        </div>
                        <div class="stats">
                          <h4 style="font-size: 12px">Single</h4>
                          <p>Delegate</p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row text-center mx-auto">
                    <div class="col">
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        EB Members
                      </button>
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        Agendas
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
            <!-- end card-container -->
          </div>
          <!-- end col sm 3 -->
        </div>
        <div class="row">
          <!--JCC -->
          <div class="col-md-4 col-sm-6">
            <div class="card-container">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    <img src="./assets/img/posters/JCC.jpg" />
                  </div>
                  <div class="user">
                    <img
                      class="img-circle"
                      src="./assets/img/logo/committees/JCC_LOGO.png"
                    />
                  </div>
  
                  <div class="content">
                    <div class="main">
                      <h3 class="name">Joint Crisis Committee</h3>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h4
                        style="
                          font-size: larger;
                          font-weight: revert;
                          font-family: sans-serif;
                          padding-bottom: 51px;
                          padding-top: 40px;
                        "
                        class="text-center"
                      >
                        &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; Joint Crisis
                        Committee &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj;&zwnj;
                        &zwnj;
                      </h4>
                      <div
                        class="stats-container"
                        style="margin-left: 17%; margin-top: -5% !important"
                      >
                        <div class="stats">
                          <h4>Advance</h4>
                          <p>Level</p>
                        </div>
                        <div class="stats">
                          <h4>Single</h4>
                          <p>Delegate</p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row text-center mx-auto">
                    <div class="col">
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        EB Members
                      </button>
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        Agendas
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
            <!-- end card-container -->
          </div>
          <!-- end col sm 3 -->

          

           <!--UNCTAD -->
           <div class="col-md-4 col-sm-6">
            <div class="card-container">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    <img src="./assets/img/posters/UNCTAD.jpg" />
                  </div>
                  <div class="user">
                    <img
                      class="img-circle img-fluid p-3"
                      src="./assets/img/logo/committees/unctad-logo.png"
                    />
                  </div>
  
                  <div class="content">
                    <div class="main">
                      <h3 class="name">United Nations Conference on Trade and Development</h3>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h4
                        style="
                          font-size: larger;
                          font-weight: revert;
                          font-family: sans-serif;
                          padding-bottom: 51px;
                          padding-top: 40px;
                        "
                        class="text-center"
                      >
                        &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; United Nations Conference on Trade and Development &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj;&zwnj;
                        &zwnj;
                      </h4>
                      <div
                        class="stats-container"
                        style="margin-left: 17%; margin-top: -5% !important"
                      >
                        <div class="stats">
                          <h4>Beginner</h4>
                          <p>Level</p>
                        </div>
                        <div class="stats">
                          <h4>Double</h4>
                          <p>Delegate</p>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row text-center mx-auto">
                    <div class="col">
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        EB Members
                      </button>
                      <button
                        class="btn btn-light text-white"
                        style="
                          background-color: #bab86c;
                          width: 8em;
                          font-family: 'Poppins';
                        "
                      >
                        Agendas
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
            <!-- end card-container -->
          </div>
          <!-- end col sm 3 -->


            <!--UNPBC-->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                  <div class="card">
                    <div class="front">
                      <div class="cover">
                        <img src="./assets/img/posters/UNPBC.jpg" />
                      </div>
                      <div class="user">
                        <img
                          class="img-circle img-fluid p-3"
                          src="./assets/img/logo/committees/unpbc_logo.png"
                        />
                      </div>
      
                      <div class="content">
                        <div class="main">
                          <h3 class="name">United Nations Peacebuilding Commission</h3>
                        </div>
                      </div>
                    </div>
                    <!-- end front panel -->
                    <div class="back">
                      <div class="content">
                        <div class="main">
                          <h4
                            style="
                              font-size: larger;
                              font-weight: revert;
                              font-family: sans-serif;
                              padding-bottom: 51px;
                              padding-top: 40px;
                            "
                            class="text-center"
                          >
                            &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; United Nations Peacebuilding Commission &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj;&zwnj;
                            &zwnj;
                          </h4>
                          <div
                            class="stats-container"
                            style="margin-left: 17%; margin-top: -5% !important"
                          >
                            <div class="stats">
                              <h4>Advance</h4>
                              <p>Level</p>
                            </div>
                            <div class="stats">
                              <h4>Single</h4>
                              <p>Delegate</p>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="row text-center mx-auto">
                        <div class="col">
                          <button
                            class="btn btn-light text-white"
                            style="
                              background-color: #bab86c;
                              width: 8em;
                              font-family: 'Poppins';
                            "
                          >
                            EB Members
                          </button>
                          <button
                            class="btn btn-light text-white"
                            style="
                              background-color: #bab86c;
                              width: 8em;
                              font-family: 'Poppins';
                            "
                          >
                            Agendas
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- end back panel -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end card-container -->
              </div>
              <!-- end col sm 3 -->
              </div>

              <div class = "row">
              <!--UNCCPCJ-->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                  <div class="card">
                    <div class="front">
                      <div class="cover">
                        <img src="./assets/img/posters/UNCCPCJ.jpg" />
                      </div>
                      <div class="user">
                        <img
                          class="img-circle"
                          src="./assets/img/logo/committees/CCPCJ_logo.png"
                        />
                      </div>
      
                      <div class="content">
                        <div class="main">
                          <h3 class="name">United Nations Commission on Crime Prevention and Criminal Justice</h3>
                        </div>
                      </div>
                    </div>
                    <!-- end front panel -->
                    <div class="back">
                      <div class="content">
                        <div class="main">
                          <h4
                            style="
                              font-size: larger;
                              font-weight: revert;
                              font-family: sans-serif;
                              padding-bottom: 51px;
                              padding-top: 40px;
                            "
                            class="text-center"
                          >
                            &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; United Nations Commission on Crime Prevention and Criminal Justice &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj;&zwnj;
                            &zwnj;
                          </h4>
                          <div
                            class="stats-container"
                            style="margin-left: 17%; margin-top: -5% !important"
                          >
                            <div class="stats">
                              <h4>Beginner</h4>
                              <p>Level</p>
                            </div>
                            <div class="stats">
                              <h4>Single</h4>
                              <p>Delegate</p>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="row text-center mx-auto">
                        <div class="col">
                          <button
                            class="btn btn-light text-white"
                            style="
                              background-color: #bab86c;
                              width: 8em;
                              font-family: 'Poppins';
                            "
                          >
                            EB Members
                          </button>
                          <button
                            class="btn btn-light text-white"
                            style="
                              background-color: #bab86c;
                              width: 8em;
                              font-family: 'Poppins';
                            "
                          >
                            Agendas
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- end back panel -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end card-container -->
              </div>
              <!-- end col sm 3 -->

               <!--UNIAEA-->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                  <div class="card">
                    <div class="front">
                      <div class="cover">
                        <img src="./assets/img/posters/UNIAEA.jpg" />
                      </div>
                      <div class="user">
                        <img
                          class="img-circle img-fluid"
                          src="./assets/img/logo/committees/iaea.svg"
                        />
                      </div>
      
                      <div class="content">
                        <div class="main">
                          <h3 class="name">United Nations International Atomic Energy Agency </h3>
                        </div>
                      </div>
                    </div>
                    <!-- end front panel -->
                    <div class="back">
                      <div class="content">
                        <div class="main">
                          <h4
                            style="
                              font-size: larger;
                              font-weight: revert;
                              font-family: sans-serif;
                              padding-bottom: 51px;
                              padding-top: 40px;
                            "
                            class="text-center"
                          >
                            &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; United Nations International Atomic Energy Agency &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj;&zwnj;
                            &zwnj;
                          </h4>
                          <div
                            class="stats-container"
                            style="margin-left: 17%; margin-top: -5% !important"
                          >
                            <div class="stats">
                              <h4 style="font-size: 12px">Intermediate</h4>
                              <p>Level</p>
                            </div>
                            <div class="stats">
                              <h4>Single</h4>
                              <p>Delegate</p>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="row text-center mx-auto">
                        <div class="col">
                          <button
                            class="btn btn-light text-white"
                            style="
                              background-color: #bab86c;
                              width: 8em;
                              font-family: 'Poppins';
                            "
                          >
                            EB Members
                          </button>
                          <button
                            class="btn btn-light text-white"
                            style="
                              background-color: #bab86c;
                              width: 8em;
                              font-family: 'Poppins';
                            "
                          >
                            Agendas
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- end back panel -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end card-container -->
              </div>
              <!-- end col sm 3 -->


        <!-- IP -->
        <div class="col-md-4 col-sm-6">
          <div class="card-container">
            <div class="card">
              <div class="front">
                <div class="cover">
                  <img src="./assets/img/posters/IP.jpg" />
                </div>
                <div class="user">
                  <img
                    style="
                      width: 87%;
                      height: 83%;
                      padding-left: 9px;
                      padding-top: 10px;
                    "
                    class="img-circle"
                    src="./assets/img/logo/committees/IP_LOGO.png"
                  />
                </div>

                <div class="content">
                  <div class="main">
                    <h3 class="name">International Press</h3>
                  </div>
                </div>
              </div>
              <!-- end front panel -->
              <div class="back">
                <div class="content">
                  <div class="main">
                    <h4
                      style="
                        font-size: larger;
                        font-weight: revert;
                        font-family: sans-serif;
                        padding-bottom: 51px;
                        padding-top: 40px;
                      "
                      class="text-center"
                    >
                      &zwnj; &zwnj; &zwnj; International Press &zwnj; &zwnj;
                      &zwnj; &zwnj;&zwnj;
                    </h4>
                    <div
                      class="stats-container"
                      style="margin-left: 17%; margin-top: -5% !important"
                    >
                      <div class="stats">
                        <h4 style="font-size: 12px">Beginner</h4>
                        <p>Level</p>
                      </div>
                      <div class="stats">
                        <h4 style="font-size: 12px">Single</h4>
                        <p>Delegate</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row text-center mx-auto">
                  <div class="col">
                    <button
                      class="btn btn-light text-white"
                      style="
                        background-color: #bab86c;
                        width: 8em;
                        font-family: 'Poppins';
                      "
                    >
                      EB Members
                    </button>
                    <button
                      class="btn btn-light text-white"
                      style="
                        background-color: #bab86c;
                        width: 8em;
                        font-family: 'Poppins';
                      "
                    >
                      Agendas
                    </button>
                  </div>
                </div>
              </div>
              <!-- end back panel -->
            </div>
            <!-- end card -->
          </div>
          <!-- end card-container -->
        </div>
        <!-- end col sm 3 -->

              </div>
       

    </div>
  </body>
</html>
